{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'base.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="jumbotron">
				{% for layoutBlock in page.layoutBlocks('header') %}
					{{ render_layout_block(layoutBlock, 'content/cms_block.html.twig')}}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="middle">
				{% for layoutBlock in page.layoutBlocks('main_content')  %}
					{{ render_layout_block(layoutBlock, 'content/cms_block.html.twig')}}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}


