{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'base.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col">
			<div class="jumbotron">
				{% for layoutBlock in page.layoutBlocks('header') %}
					{% set template = layoutBlock.template|default('content/cms_block.html.twig') %}

					{% if layoutBlock.getContentTypeName() is same as('Custom Form') %}
						{% set template = 'content/form_page_content.html.twig' %}
					{% endif %}
					{% if layoutBlock.getContentTypeName() is same as('Gallery Viewer') %}
						{% set template = 'content/gallery_view.html.twig' %}
					{% endif %}
					{{ render_initcms_block(template, layoutBlock)}}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="middle">
				{% for layoutBlock in page.layoutBlocks('main_content')  %}
					{% set template = layoutBlock.template|default('content/cms_block.html.twig') %}

					{% if layoutBlock.getContentTypeName() is same as('Custom Form') %}
						{% set template = 'content/form_page_content.html.twig' %}
					{% endif %}
					{% if layoutBlock.getContentTypeName() is same as('Gallery Viewer') %}
						{% set template = 'content/gallery_view.html.twig' %}
					{% endif %}
					{{ render_initcms_block(template, layoutBlock)}}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}


