{#

This file is part of the Networking package.

(c) net working AG <info@networking.ch>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'base.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}

{% block content %}
    {% if page.layoutBlock('header') is not empty %}
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    {% set headerBlockCount = page.layoutBlocks('header')|length %}
                    {% for layoutBlock in page.layoutBlocks('header') %}
                        <div class="span{{ 12/headerBlockCount }}">
                            {% set template = get_content_template(layoutBlock, 'content/cms_block.html.twig') %}
                            {{ render_initcms_block(template, layoutBlock)}}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">

        <div class="col-md-6">
            <div class="middle">
                {% for layoutBlock in page.layoutBlocks('left') %}

                    {% set template = get_content_template(layoutBlock, 'content/cms_block.html.twig') %}

                    {{ render_initcms_block(template, layoutBlock)}}
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
            {% block content_sidebar %}
                <div class="middle">
                    {% for layoutBlock in page.layoutBlocks('right') %}

                        {% set template = get_content_template(layoutBlock, 'content/cms_block.html.twig') %}

                        {{ render_initcms_block(template, layoutBlock)}}
                    {% endfor %}
                </div>
            {% endblock content_sidebar %}
        </div>

    </div>

{% endblock content %}
